main figure {
    display: flex;
    justify-content: center;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.box {
    padding: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #CCC;
    border-radius: 25px;

}

.visualiza-semana {
    display: grid;
    grid: 1fr / repeat(8, 1px);
    grid-column-gap: 80px;
    margin: 30px;
}

.dia-semana {
    display: flex;
    grid-row-gap: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    padding: 8px;
}

.periodo {
    margin: 11px;
    background-color: hsl(0, 64%, 57%);
}