main figure {
    display: flex;
    justify-content: center;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.box {
    box-shadow: 5px 5px 5px 5px #CCC;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.semana{
    box-shadow: 5px 5px 5px 5px #CCC;
    border-radius: 25px;
}
.semana tr{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    padding: 1px 5px 0px 5px;
  
}
.semana tr td{     
    padding: 7px 7px 7px 7px;
}